ansible_become_pass: sudo_pass
my_hostname: lacrimosa

# sources mirror
apt_mirror: mirrors.aliyun.com

# tools
basic_tools:
  - htop
  - di
  - curl
  - axel

# DNS servers
dns_servers:
  - 223.5.5.5
  - 1.1.1.1
