ansible_become_pass: <your_sudo_pass>
my_hostname: lacrimosa

# sources mirror
apt_mirror: mirrors.aliyun.com

# tools
basic_tools:
  - htop
  - di
  - curl
  - axel
  - qbittorrent
  - oxygen-cursor-theme

# remove unwanted softwares
remove_softwares:
  - pidgin
  - thunderbird
  - transmission

# DNS servers
dns_servers:
  - 223.5.5.5
  - 1.1.1.1
